<header class="top-page-header">
  <div class="header-contents">
    <div class="logo-title">
      <%= link_to image_tag("logo.png", class:"logo-icon"), root_path %>
      <span class="header-title">Sarabred</span>
    </div>
    <div class="company-add">
      マイページ
    </div>
  </div>
</header>
<div class="user-show-main">
  <div class="user-show-center">
    <div class="user-header">
      営業：<%= @user.name %>
    </div>
    <div class="user-activity">
      <div class="user-activity-text">
        活動実績（直近の活動から表示)
      </div>
        <% @activities.each do |activity| %>
          <ul class="activity-list">
            <li class="list-day"><%= activity.activity_day %></li>
            <li class="list-company-name"><%= link_to activity.company.company_name, company_path(activity.company.id), class:"my-company-link" %></li>
            <li class="list-client"><%= activity.client_name %></li>
            <li class="list-act-memo"><%= activity.memo %></li>
            <li class="list-station"><%= activity.company.nearest_station %></li>
            <% if activity.company.rank_id == 2 %>
              <li class="list-rank">A</li>
            <% elsif activity.company.rank_id == 3 %>
              <li class="list-rank">B</li>
            <% elsif activity.company.rank_id == 4 %>
              <li class="list-rank">C</li>
            <% elsif activity.company.rank_id == 5 %>
              <li class="list-rank">D</li>
            <% else %>
              <li class="list-rank">E</li>
            <% end %>
          </ul>
        <% end %>
        <% if @activities.empty? %>
          活動の記録がありません
        <% end %>
    </div>
    
      
    <%= link_to "もどる", root_path, class:"back-btn" %>
  </div>
</div>

<%= render "shared/footer" %>