<%= render "shared/header" %>

<div class="main">    
  <div class="left-side-bar">
    <ul class="sign_in_contents">
      <% if user_signed_in? %>
        <li class="left-lists">User：<%= current_user.name %><li>
        <li class="left-lists"><%= link_to "会社情報を追加する", new_company_path, class: "save_company" %></li>
        <li class="left-lists"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "sign_out" %></li>
      <% else %>       
        <li class="left-lists"><%= link_to "ログイン", new_user_session_path, class: "sign_in" %></li>
        <li class="left-lists"><%= link_to "新規アカウント登録", new_user_registration_path, class: "sign_up" %></li>
      <% end %>
    </ul>
  </div>

  <div class="center-contents">
    <ul>
      <li>会社名</li>
      <li>電話番号</li>
      <li>住所</li>
      <li>最寄駅</li>
      <li>担当営業</li>
      <li>見込み</li>
      <li>取引ステータス</li>
    </ul>
    <% @companies.each do |company| %>
      <div class="company-field">
        <div class="company-name-field">
          <%= link_to company_path(company.id),class:"company-name-link" do %>
          <%= company.company_name %>
          <% end %>
        </div>       
        <div class="phone-number-field">
          <%= company.phone_number %>
        </div>
        <div class="address-field">
          <%= company.address %>
        </div>
        <div class="station-field">
          <%= company.nearest_station %>
        </div>
        <div class="user-field">
          <%= company.user.name %>
        </div>
        <% if company.rank_id == 2 %>
          <div class="rank-field">A</div>
        <% elsif company.rank_id == 3 %>
          <div class="rank-field">B</div>
        <% elsif company.rank_id == 4 %>
          <div class="rank-field">C</div>
        <% elsif company.rank_id == 5 %>
          <div class="rank-field">D</div>
        <% else %>
          <div class="rank-field">E</div>
        <% end %>
        <div class="status-field">
          <%= company.status.name %>
        </div>
        <div>
        </div>  
      </div>        
    <% end %>
  </div> 
</div>

<%= render "shared/footer" %>