<%= render "shared/header"%>

<div class="main">
  <div class="">
    <%= form_with model: @company, local: true do |f|%>      
      <div class="">
        会社名
        <%= f.text_field :company_name, placeholder:"会社名を入力してください", class: "" %>
      </div>
      <div>
        会社名（略称）
        <%= f.text_field :company_short_name %>
      </div>
      <div class="">
        電話番号
        <%= f.text_field :phone_number, placeholder:"例：03-1234-1234", class:"" %>
      </div>
      <div>
        郵便番号
        <%= f.text_field :post_number %>
      </div>
      <div class="">
        事業所所在地
        <%= f.text_field :address, placeholder:"例：赤坂緑区青山1-1-1" %>
      </div>
      <div class="">
        建物名
        <%= f.text_field :building_name, placeholder:"例：赤坂国際ビル5F" %>
      </div>
      <div>
        代表者
        <%= f.text_field :president %>
      </div>
      <div class="">
        業種
        <%= f.collection_select(:industry_id, Industry.all, :id, :name, {}, {class:""}) %>
      </div>
      <div class="">
        資本金
        <%= f.text_field :capital_stock %>
      </div>
      <div class="">
        社員数
        <%= f.text_field :employee %>
      </div>
      <div class="">
        <%= f.submit "保存",class:"" %>
      </div>
    <% end %>
  </div>
</div>

