<%= render "shared/header" %>

<div class="main">
  <div class="company-info">
    <%= @company.company_name %>
    <%= @company.company_short_name %>
    <%= @company.phone_number %>
    <%= @company.president %>
    <%= @company.post_number %>
    <%= @company.address %>
    <%= @company.building_name %>
    <%= render "shared/industry" %>
    <%= @company.capital_stock %>
    <%= @company.employee %>
  </div>
  <div class="order-area">
    <%= link_to "新規作成", new_company_order_path(@company) %>
    <table>
      <tr>
        <th rowspan="2">案件名</th>
        <th colspan="2">期間</th>
        <%# <th></th> %>
        <th rowspan="2">売上</th>
        <th rowspan="2">原価</th>
        <th rowspan="2">利益</th>
      </tr>
      <tr>
        <%# <th></th> %>
        <th>開始</th>
        <th>終了</th>
        <%# <th></th> %>
        <%# <th></th> %>
        <%# <th></th> %>
      </tr>
      <% @orders.map do |order| %>
      <tr>
        <td>
          <%= link_to order.order_name, company_order_path(@company,order) %>
        </td>
        <td>
          <%= order.start_date %>
        </td>
        <td>
          <%= order.end_date %>
        </td>
        <td>
          <%= order.order_price %>
        </td>
        <td>
          <%= order.order_cost %>
        </td>
        <td>
          <%= order.order_profit %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>