会社詳細

<div>
  <%= @company.company_name %>
</div>
<div>
  <%= @company.capital_stock.name %>
</div>
<div>
  <%= @company.phone_number%>
</div>
<div>
  <%= @company.address %>
</div>
<div>
  <%= @company.building_name %>
</div>

<%= link_to '活動を記録',new_company_activity_path(@company) %>

<% @activities.each do |activity| %>
  <%= activity.activity_day %>
<% end %>